body{background-color:cornflowerblue;}
h1{background-color: blue;}
.primeira{
    background-color: blueviolet;
    border: 12px, black; 
}

a.ind:link{color: blue;}
a.ind:visited{color: blue;}
a.ind:hover{color: silver; font-size: 40px;}

a.loc:link{color: blue;}
a.loc:visited{color: rgb(66, 89, 192) ;}
a.loc:hover{color: red; font-size: 40px;}

a.mult:link{color: rgb(152, 190, 48);}
a.mult:visited{color: rgb(44, 148, 91); font-size: 40px;}
a.mult:hover{color: rgb(156, 25, 128); font-size: 40px;}

a.inf:link{color: rgb(184, 174, 34);}
a.inf:visited{color: rgb(21, 91, 138) ;}
a.inf:hover{color: rgb(181, 89, 199); font-size: 40px;}

a.quiz:link{color: rgb(36, 20, 63);}
a.quiz:visited{color: rgb(21, 91, 138) ;}
a.quiz:hover{color: rgb(34, 162, 179); font-size: 40px;}

a.comet:link{color: rgb(139, 133, 36);}
a.comet:visited{color: rgb(6, 33, 51) ;}
a.comet:hover{color: rgb(209, 131, 224); font-size: 40px;}

div > label{
    height: 25px;
    color: rgb(5, 5, 5);
    display: flex;
}
iframe{
    border-radius: 10px;
    border-style: solid;
}
img{
    border-radius: 10px;
}